<strong>Olá, {{ name }}</strong>
<p>Um pacote previamente direcionado a você foi cancelado.</p>
<p>
  <strong>Código: </strong> {{ id }}<br /><br />
  <strong>Produto: </strong> {{ product }}<br /><br />
</p>
